# ===== Java / Spring Boot =====
target/
*.log
*.class
# ===== Eclipse =====
.metadata/
.settings/
.project
.classpath

# ===== Maven =====
.mvn/
!mvnw
!mvnw.cmd

# ===== Node / Angular =====
node_modules/
dist/
.angular/

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== OS =====
.DS_Store

# ===== Secrets =====
.env
application-prod.yml
