<div class="d-flex justify-content-center align-items-center">
    <mat-card style="width: 360px;" class="rounded border border-1">
        <mat-card-header class="d-flex justify-content-center text-center mb-3">
            <mat-card-title>Register</mat-card-title>
            <mat-card-subtitle>Please register with ISMS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>


            <form>
                <mat-form-field class="w-100 mb-2" appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Email</mat-label>
                    <input matInput required type="text" placeholder="Ex: name@mail.com">
                    
                </mat-form-field>
                <mat-form-field class="w-100 mb-2" appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Phone</mat-label>
                    <span matTextPrefix>+91 &nbsp;</span>
                    <input matInput required type="tel">
                </mat-form-field>
                <mat-form-field class="w-100 mb-2" appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Password</mat-label>
                    <input matInput required [type]= "hidePasswod()?'password':'text'">
                    <button mat-icon-button matSuffix (click)="togglePassword($event)">
                        <mat-icon>{{hidePasswod()?'visibility_off':'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>

        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="primary">Sign-up</button>
        </mat-card-actions>
    </mat-card>
</div>