<h3 mat-dialog-title>Edit ISMS Account Profile</h3>
<mat-dialog-content class="my-4 rounded-sm">
  <div class="py-4">
    <form
      [formGroup]="profileUpdateForm"
      novalidate
    >
      <div class="mb-4">
        <mat-form-field
          appearance="outline"
          class="w-full"
          subscriptSizing="dynamic"
        >
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            autocomplete="given-name"
            type="text"
            maxlength="100"
            aria-required="true"
          />
          <mat-error>
            <span *ngIf="f['firstName'].hasError('required')">
              First name is required
            </span>
            <span *ngIf="f['firstName'].hasError('minlength')">
              First name must be at least 2 characters
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mb-2">
        <mat-form-field
          appearance="outline"
          class="w-full"
          subscriptSizing="dynamic"
        >
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            autocomplete="family-name"
            type="text"
            maxlength="100"
            aria-required="true"
          />
          <mat-error>
            <span *ngIf="f['lastName'].hasError('required')">
              Last name is required
            </span>
            <span *ngIf="f['lastName'].hasError('minlength')">
              Last name must be at least 2 characters
            </span>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    [disabled]="profileUpdateForm.invalid || !profileUpdateForm.dirty"
    (click)="saveProfile()"
  >
    Save
  </button>
</mat-dialog-actions>
