<mat-card
  appearance="outlined"
  class="h-full !bg-white !rounded-lg !border-none !shadow-sm"
>
  <mat-card-content>
    <div
      class="flex flex-col md:flex-row items-center justify-between mb-6 py-2"
    >
      <div>
        <div class="text-2xl">
          {{ user.username }}
        </div>
        <div class="text-gray-500 text-sm">
          {{ user.email }}
        </div>
      </div>
      <div class="flex gap-1">
        <button mat-stroked-button>Edit Profile</button>
        <button mat-stroked-button>Assign Roles</button>
        <button mat-stroked-button>Reset Password</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
