<h2 mat-dialog-title class="!text-xl !pt-0">{{ data.title }}</h2>

<mat-dialog-content>
  {{ data.message }}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">
    {{ data.cancelButtonText ?? "Cancel" }}
  </button>

  <button
    mat-flat-button
    (click)="confirm()"
    [ngClass]="{
      '!bg-red-600 !text-white': data.confirmButtonColor === 'warn',
    }"
  >
    {{ data.confirmButtonText ?? "Confirm" }}
  </button>
</mat-dialog-actions>
