/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
