<h3 mat-dialog-title>Add an user</h3>
<mat-dialog-content class="my-4 rounded-sm">
  <form>
    <div class="my-4">
      <mat-form-field
        appearance="outline"
        class="w-full"
        subscriptSizing="dynamic"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="Email"
          placeholder="Enter user email address"
          type="email"
          maxlength="100"
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>
